<h1>Employee Search</h1>

<%= form_for search_employees_path, method: :post, remote: true do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "search", name: nil %>
  </p>
<% end %>

<ul>
  <% @employees.each do |employee| %>
    <li>
      <h3>
        <%= link_to employee.name, controller: "employees", action: "show", id: employee._id%>
      </h3>
    </li>
  <% end %>
</ul>